h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Jost', sans-serif;
    color: black;
}

#header {
    text-decoration: underline black;
}

body {
    width: 500px;
    margin-left: calc((100% - 500px)/2);
}

img {
    width: 488px;
    border: 6px solid black;
}

@media only screen and (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        font-family: 'Jost', sans-serif;
        color: black;
    }
    #header {
        text-decoration: underline black;
    }
    body {
        width: 300px;
        margin-left: calc((100% - 300px)/2);
    }
    img {
        width: 288px;
        border: 6px solid black;
    }
}